











#buddyList
{
margin: auto;  
text-align: center;
font-size: x-large;
border: 3px groove blue;
border-radius: 10px;
visibility: hidden;
background: linear-gradient(30deg, #bfda45,#da691e, #0ca8e6, #133b92,#9e1c93);


}

#kaveriotsikko
{

visibility: hidden;
text-shadow: 2px 2px #da691e;
}