



.bgimage{


  background-image: url("colour.jpg");
 
  background-size: cover;
  
}









#nappula
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#buddyList
{
margin: auto;  
text-align: center;
font-size: x-large;
border: 3px groove blue;
border-radius: 10px;
visibility: hidden;
background: linear-gradient(30deg, #bfda45,#da691e, #0ca8e6, #133b92,#9e1c93);

}

